* {
  padding: 0;
  margin: 0;
  // color: map-get($map: $base-styles, $key: 'color');
  font-size: 1em;
  font-family: map-get($map: $base-styles, $key: 'font-family');
  font-weight: map-get($map: $base-styles, $key: 'font-weight');
  line-height: map-get($map: $base-styles, $key: 'line-height');
  // transition: map-get($map: $base-styles, $key: 'transition');
  box-sizing: border-box;
}

:root {
  html.dark {
    --el-bg-color: #1a1a1a;
  }
  --m-admin-aside-menu-bg-color: #1f2d3d; // admin 侧边菜单背景色
  --m-admin-aside-sub-menu-bg-color: rgb(48, 65, 86); // admin 有子菜单项的标题背景色
  --m-admin-aside-title-bg-color: #2b2f3a; // admin 侧边标题背景色
  --m-admin-aside-text-color: rgb(191, 203, 217); // admin 文字颜色
  --m-admin-aside-menu-hover-bg-color: #001528; // admin 菜单项悬浮背景色
  --m-admin-aside-sub-menu-hover-bg-color: #263445;
}

html.dark {
  img,
  .y-hero {
    filter: brightness(0.7);
  }
  svg {
    fill: var(--el-color-white);
  }
}

body {
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 100vw;
  min-height: 100vh;
  font-size: map-get($map: $base-styles, $key: 'font-size') * 1px;
}

path {
  transition: none !important;
  fill: inherit;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

a {
  text-decoration: none;
  color: var(--el-color-primary-light-3);
  transition: color 0.3s ease-in-out;
  &:hover {
    color: var(--el-color-primary);
  }
}

// 修改请求进度条样式
#nprogress .bar {
  background: var(--el-color-primary) !important;
}

// 修改进度条阴影样式
#nprogress .peg {
  box-shadow:
    0 0 10px var(--el-color-primary),
    0 0 5px var(--el-color-primary) !important;
}

// particle canvas样式
#tsparticles canvas {
  background-color: var(--el-bg-color) !important;
}

// 修改阅读进度条样式
.m-progress__bar {
  background: var(--el-color-primary) !important;
}

// 修改md-editor-v3 tab工具
.md-editor-toolbar-left {
  padding-right: 20px !important;
}
.md-editor-toolbar-wrapper .md-editor-toolbar-left,
.md-editor-toolbar-wrapper .md-editor-toolbar-right {
  flex-wrap: wrap;
}
// 预览背景色
.md-editor-preview-wrapper {
  background-color: var(--el-bg-color) !important;
}

// router active
.y-router__link--active {
  color: var(--el-color-primary) !important;
  fill: var(--el-color-primary) !important;
}

.y-f-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 下划线过渡效果 */
.y-underline-trans {
  background: linear-gradient(
      to right,
      var(--el-color-primary-light-3),
      var(--el-color-success-light-3)
    )
    no-repeat right bottom;
  background-size: 0px 2px;
  transition:
    background-size 1s,
    color 1s;

  &:hover {
    background-position: left bottom;
    background-size: 100% 2px;
  }
}

.y-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.y-ellipsis-clamp {
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

/* 定义滚动条的样式 */
::-webkit-scrollbar {
  width: 4px;
  /* 设置滚动条的宽度 */
  transition: all 3s ease-in-out;
}

/* 定义滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background-color: var(--el-fill-color);
  /* 设置滚动条轨道的背景色 */
}

/* 定义滚动条的滑块样式 */
::-webkit-scrollbar-thumb {
  background-color: var(--el-color-primary);
  /* 设置滚动条滑块的背景色 */
  border-radius: 5px;
  /* 设置滚动条滑块的圆角 */
}

/* 当滚动条处于活动状态时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: var(--el-color-primary-light-3);
}

/* element plus upload imgage center */
.el-upload-list--picture-card .el-upload-list__item {
  justify-content: center;
}

@include simple-generator('display', 'inline-block', 'inline-block');
@include generator-gap('clamp', '-webkit-line-clamp', 2, 5, 1);

// cursor example: y-cursor-p
@include generator-map($mouse-states, 'cursor');

// text example: y-text-center
@include generator-map($text-align, 'text-align', 'text');
@include generator-map($text-decoration, 'text-decoration', 'text');
@include generator-map($text-transform, 'text-transform', 'text');

// flex  example: y-flex  or  y-f-row
@include simple-generator('display', 'flex', 'flex');
@include generator-map($flex-direction, 'flex-direction', 'f');
@include generator-map($flex-wrap, 'flex-wrap', 'f');
@include generator-map($flex-justify-content, 'justify-content', 'f');
@include generator-map($flex-align-items, 'align-items', 'f');

// flex example: y-f-1
@include generator-gap('flex', 'flex', 1, 10);

@include generator-gap('w', 'width', 0, 10, 10, '%');

@include generator-gap('b-radius', 'border-radius', 0, 10, 5, '%');

// padding and margin  example：y-pt-10   y-ml-20
@each $key, $value in $directions {
  @include generator-gap('m#{$key}', 'margin-#{$value}', 1, 20, 2, 'px');
  @include generator-gap('p#{$key}', 'padding-#{$value}', 1, 20, 2, 'px');
}

// font-size  y-fs-2 ...
@for $i from 1 through 20 {
  $i: $i * 2;
  @include generator-size-em('fs', 'font-size', $i);
  @include simple-generator('padding', $i + 0px, 'p-#{$i}');
  @include simple-generator('margin', $i + 0px, 'm-#{$i}');
}

@include generator-map($overflow, 'overflow', 'overflow');
