@mixin is-not-null($value) {
  $all-not-null: true; // 假设所有元素都不为 null

  @if type-of($value) == 'list' {
    @each $item in $value {
      @if type-of($item) == 'list' {
        @include is-not-null($item);
      }

      @if not $item {
        $all-not-null: false;
      }
    }
  }

  @if type-of($value) == 'map' {
    @each $key, $item in $value {
      @if type-of($item) == 'list' {
        @include is-not-null($item);
      }

      @if not $item {
        $all-not-null: false;
      }
    }
  }

  @if $all-not-null {
    @content;
  }
}

@mixin simple-generator($classname, $key, $value) {
  @include is-not-null(($classname, $key, $value)) {
    @include b($classname) {
      #{$key}: #{$value};
    }
  }
}



// @mixin generator($classname, $value) {
//   @if type-of($value: $value)=='list' {
//     @include generator-list($classname, $value);
//   } @else if type-of($value: $value)=='map' {
//     @include generator-list($classname, map-pairs($value));
//   } @else {
//     @include simple-generator($classname, $classname, $value);
//   }
// }

// 1、遍历map
@mixin generatpr-map($map, $parent: null) {
  @if type-of($map) == 'map' {
    @each $key, $value in $map {
      @include b {
        #{$key}: #{$value};
      }
    }
  }
}

// 2、遍历gap
@mixin generator-gap($classname, $key, $start: 0, $end: 20, $unit: '') {
  @for $i from $start through $end {
    @include b(#{$classname + $i}) {
      #{$key}: #{$i}#{$unit};
    }
  }
}