// 基础样式
$base-styles: (
  'font-size': 14,
  'font-family': monospace,
  'font-weight': 400,
  'line-height': 1.5,
  'color': #333,
  'background-color': #fff,
  'border-color': #e5e5e5,
  'border-radius': 4px,
  'box-shadow': 0 1px 1px rgba(0, 0, 0, 0.05),
);

// 方向
$directions: (
  'l': 'left',
  'r': 'right',
  't': 'top',
  'b': 'bottom',
);

// 鼠标状态
$mouse-states: (
  'a': 'auto',
  'c': 'context-menu',
  'h': 'help',
  'p': 'pointer',
  's': 'scroll',
  'w': 'wait',
);
